/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  @include vendor('transition', 'background-color .25s ease-in-out');
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  padding: 0.6em 1.5em;
  border: 0;
  border-radius: 6px;
  font-size: 1.35em;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  background: #0090c5;
  outline: 0;
  cursor: pointer;

  &.icon {

    &:before {
      position: relative;
      margin-right: 0.5em;
      top: 0.05em;
    }
  }

  &:hover {
    background: #10a0d5;
  }

  &:active {
    background: #20b0e5;
  }

  //self
  &.alt {
    background: #f1f1f1;
    background: rgba(0, 0, 0, 0.05);
    color: #444;

    &:hover {
      background: #e8e8e8;
      background: rgba(0, 0, 0, 0.085);
    }

    &:active {
      background: #e4e4e4;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &.big {
    font-size: 2.25em;
    padding: 0.8em 0.9em;
  }
  //self
}
