@charset "UTF-8";


/* Image */

.image {
  display: inline-block;
  //position: relative;
  //border: 0;
  //border-radius: _size(border-radius);
  outline: 0;

  img {
    display: block;
    border-radius: 8px;
    width: 100%;
  }

  //&.left,
  //&.right {
  //  max-width: 40%;
  //
  //  img {
  //    width: 100%;
  //  }
  //}

  &.left {
    float: left;
    margin: 0 2em 2em 0;
    //padding: 0 1.5em 1em 0;
    //top: 0.25em;
  }

  //&.right {
  //  float: right;
  //  padding: 0 0 1em 1.5em;
  //  top: 0.25em;
  //}

  &.fit {
    display: block;
    width: 100%;
    //margin: 0 0 _size(element-margin) 0;

    //img {
    //  width: 100%;
    //}
  }

  &.featured {
    display: block;
    margin: 0 0 2.5em 0;
    width: 100%;
  }

  //&.main {
  //  display: block;
  //  width: 100%;
  //  margin: 0 0 (_size(element-margin) * 1.5) 0;
  //
  //  img {
  //    width: 100%;
  //  }
  //}
  // &.main替换
  &.centered {
    display: block;
    margin: 0 0 2.5em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}