@charset "UTF-8";


/* Tables */

//.table-wrapper {
//  -webkit-overflow-scrolling: touch;
//  overflow-x: auto;
//}

table {
  //margin: 0 0 _size(element-margin) 0;
  width: 100%;

  //tbody {
  //  tr {
  //    border: solid 1px;
  //    border-left: 0;
  //    border-right: 0;
  //
  //    &:nth-child(2n + 1) {
  //      background-color: _palette(border-bg);
  //    }
  //  }
  //}
  //
  //td {
  //  padding: 0.75em 0.75em;
  //}
  //
  //th {
  //  padding: 0 0.75em 0.75em 0.75em;
  //  text-align: left;
  //  font-size: 0.9em;
  //  font-weight: _font(weight-bold);
  //}
  //
  //thead {
  //  border-bottom: solid 2px;
  //  //color: _palette(bg);
  //  //background: _palette(fg);
  //}
  //
  //tfoot {
  //  border-top: solid 2px;
  //  //background: _palette(border);
  //}

  //&.alt 替换为default
  &.default {
    //border-collapse: separate;
    width: 100%;

    //tbody {
    tr {
      border-top: solid 1px #eee;
      //border: solid _size(border-width) _palette(border);
      //border-left: 0;
      //border-right: 0;

      //td {
      //  border: solid 1px;
      //  border-left-width: 0;
      //  border-top-width: 0;
      //
      //  &:first-child {
      //    border-left-width: 1px;
      //  }
      //}

      &:first-child {
        border-top: 0;
        //td {
        //  border-top-width: 1px;
        //}
      }
    }
    //}

    td {
      padding: 0.5em 1em 0.5em 1em;
    }

    th {
      margin: 0 0 1em 0;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left;
      //font-size: 0.9em;
      font-weight: 800;
    }

    thead {
      //border-bottom: solid (_size(border-width) * 2) _palette(border);
      background: #404248;
      color: #fff;
    }

    //tfoot {
    //  border-top: solid 2px;
    //  background: _palette(border);
    //}
  }
}