/* Box */

.box {
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  background: #fff;

  //self
  &.feature {
    padding: 0;

    .inner {
      padding: 4em 2em 3em 2em;
    }

    h2 {
      font-size: 1.35em;
    }

    p {
      margin: 0;
    }

    .image {
      position: relative;
      margin: 0;

      img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  //self
}