@charset "UTF-8";

#wrapper {
  @include vendor('animation', 'wrapper #{_duration(wrapper)} forwards');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* Main */
#main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  &:before {
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-right: 0;
    //垂直居中-父元素高度确定的单行文本
    vertical-align: middle;
    content: '';
  }
}

// 背景无限动画,向左移动
@mixin bg($width) {
  @include keyframes('bg') {
    0% {
      //vendor传入属性，返回值
      @include vendor('transform', 'translate3d(0,0,0)');
    }

    100% {
      @include vendor('transform', 'translate3d(#{$width * -1},0,0)');
    }
  }

  #bg {
    background-size: $width auto;
    width: ($width * 3);
  }
}

// 背景长度拉伸了1.5倍
@include bg(_misc(bg-width) * 1.5);

/* Wrapper */
@include keyframes('wrapper') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Overlay */
@include keyframes('overlay') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header */
// 向上动画
@include keyframes('header') {
  0% {
    @include vendor('transform', 'translate3d(0,1em,0)');
    opacity: 0;
  }
  100% {
    @include vendor('transform', 'translate3d(0,0,0)');
    opacity: 1;
  }
}

// nav-icons
// 向上动画
@include keyframes('nav-icons') {
  0% {
    @include vendor('transform', 'translate3d(0,1em,0)');
    opacity: 0;
  }
  100% {
    @include vendor('transform', 'translate3d(0,0,0)');
    opacity: 1;
  }
}

/* Wide */
@include breakpoint(xlarge) {
  /* Basic */
  body, input, select, textarea {
    font-size: 13pt;
  }

  /* BG */
  @include bg(_misc(bg-width));
}

/* Normal */
@include breakpoint(large) {
  /* Basic */
  body, input, select, textarea {
    //12PT就是12磅 12磅就是小4号字
    font-size: 12pt;
  }

  /* BG */
  @include bg(_misc(bg-width) * 0.5);
}

/* Mobile */
@include breakpoint(small) {
  /* Basic */
  body {
    min-width: 320px;
  }

  body, input, select, textarea {
    font-size: 11pt;
  }

  /* BG */
  @include bg(_misc(bg-width) * 0.2);

  /* Header */
  #header {
    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1em;
    }

    nav {
      font-size: 1em;

      a {
        &:hover {
          font-size: 1em;
        }

        &:active {
          font-size: 1em;
        }
      }
    }
  }
}

/* Mobile (Portrait) */
@include breakpoint(xsmall) {
  /* BG */
  @include bg(_misc(bg-width) * 0.275);

  /* Header */
  #header {
    nav {
      padding: 0 1em;
    }
  }
}