@import 'utf-8';

@mixin bg($width) {
	@include keyframes('bg') {
		0% {
			@include vendor('transform', 'translate3d(0,0,0)');
		}
		100% {
			@include vendor('transform', 'translate3d(#{$width * -1}, 0, 0)');
		}
	}
	#bg {
		width: ($width * 3);
		background-size: $width auto;
	}
}
@include bg(_misc(bg-width) * 1.5);

@include keyframes('wrapper') {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes('overlay') {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#bg {
	@include vendor('animation', 'bg #{_duration(bg)} linear infinite');
	@include vendor('transform', 'translate3d(0, 0, 0)');
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	opacity: 1;
	background: _misc(bg) repeat-x;
}

#overlay {
	@include vendor(
		'animation',
		'overlay #{_duration(overlay)} #{$delay-overlay} forwards'
	);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-attachment: fixed, fixed;
	background-image: url(''), url('');
	background-position: 0% 0%, 50% 50%;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}
