@charset "UTF-8";

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

.icon {
  @include icon;
  border-bottom: none;
  position: relative;
  text-decoration: none;

  &:before {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-family: FontAwesome;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  > .label {
    display: none;
  }
}