body, input, textarea, select {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: #5d5d5d;
  line-height: 1.75em;

  @include breakpoint(desktop) {
    font-size: 13pt;
  }

}

strong, b {
  color: #252122;
  font-weight: 400;
}

i, em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  border-left: solid 0.75em #dddddd;
  padding: 1em 0 1em 1.5em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: #252122;
  font-weight: 700;
}

@include breakpoint(desktop) {
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.35em;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

a {
  color: #d52349;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}






//self
br.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: solid 1px #dddddd;
  //self
  height: 1px;
  margin: 2em 0 2em 0;
}

p, ul, ol, dl, table {
  margin-bottom: 2em;
}