/* Icons */

.icon {
  position: relative;
  text-decoration: none;

  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  > .label {
    display: none;
  }




  // self start
  &.featured {
    position: relative;
    display: inline-block;
    background-color: #d52349;
    width: 9em;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 4.5em 0;
    cursor: default;

    &:before {
      font-size: 4.5em;
      line-height: 1em;
      color: #fff;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -1.95em;
      left: 0;
      border-top: solid 2em #d52349;
      border-left: solid 4.5em transparent;
      border-right: solid 4.5em transparent;
    }

    &.alt {
      background-color: #252122;

      &:after {
        border-top-color: #252122;
      }
    }

    &.alt2 {
      background-color: #827a7c;

      &:after {
        border-top-color: #827a7c;
      }
    }
  }
  // self end

}