@charset "UTF-8";

/* BG */
#bg {
  @include vendor('animation',
          'bg #{_duration(bg)} linear infinite'
  );
  @include vendor('backface-visibility',
          'hidden'
  );
  @include vendor('transform',
          'translate3d(0,0,0)'
  );
  /* Set your background with this */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  //带有单位 字符
  background: _misc(bg) repeat-x;
  opacity: 1;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include vendor('animation',
          'overlay #{_duration(overlay)} #{$delay-overlay} forwards'
  );
  background-attachment: fixed, fixed;
  background-image: url('../images/overlay-pattern.png'), url('../images/overlay.svg');
  background-position: 0% 0%, 50% 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}