@charset "UTF-8";

#wrapper {
  @include vendor('animation',
          'wrapper #{_duration(wrapper)} forwards'
  );
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* Main */
#main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  &:before {
    display: inline-block;
    margin-right: 0;
    width: 1px;
    height: 100%;
    //垂直居中-父元素高度确定的单行文本
    vertical-align: middle;
    content: '';
  }
}